# Podstawowe pliki .NET
bin/
obj/

# Pliki i foldery wygenerowane przez Visual Studio i VS Code
.vscode/
.vs/
*.vscode/
*.vs/

# Pliki wygenerowane przez systemy kompilacji
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Foldery zależności
packages/
.nuget/

# Foldery publikacyjne
publish/
out/

# Specyficzne pliki i foldery JetBrains Rider
.idea/
*.sln.iml

# Pliki konfiguracyjne i logi
*.log
*.lock.json

# Pliki i foldery tymczasowe systemu operacyjnego
*.DS_Store
*.AppleDouble
*.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.cfg
*.dat
*.dmp
*.drv
*.bak
*.lck
*.swp
*.tmp
*.temp
*.rbf
*.old
*.pid
*.gz
*.trace

# Pliki użytkownika i inne lokalne pliki
*.local
*.sln.ide
*.sln.ide.lock

# Pliki generowane przez narzędzia
*.sln.resharper
*.sln.DotSettings
*.sln.DotSettings.user

# Pliki generowane przez narzędzia do testowania
TestResult/
TestResults/
xunit.runner.json

# Pliki specyficzne dla Blazor WebAssembly
wwwroot/bin/
wwwroot/obj/

# Pliki konfiguracyjne specyficzne dla środowiska
appsettings.Development.json

# Pliki użytkownika
.bash_history
