<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="">BlazorApp</a>
        <nav class="nav nav-masthead">
            <a class="nav-link fw-bold py-1 px-3 active" aria-current="page" href="#">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
            <a class="nav-link fw-bold py-1 px-3" href="converter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Konwerter
            </a>
            <a class="nav-link fw-bold py-1 px-3" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </a>
            <a class="nav-link fw-bold py-1 px-3" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </a>
        </nav>
    </div>
</div>
